body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url("backimage.png");
  height: 100%;
}

.title-bar{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 10%;
}

.page-title{
  color: white;
  font-size: calc(1.5em + 1vw);
  font-style: italic;
  font-weight: 900;
  text-indent: 4%;
}

#map{
  height:95%;
  width:95%;
}

.logos {
  width: 35%;
  height: auto;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;

}

.div-titles{
  float: right;
  font-size: 165%;
  color: white;
  margin-right: 5%;
  margin-top: 15%;
}

h2 {
  text-align: center;
  color: white;
  display: inline-block;
  padding-left: 5%;
  padding-right: 1%;
  font-size: calc(0.1em + 1vw);

}

h4 {
  text-align: left;
  color: white;
  padding-left: 5%;
  padding-right: 1%;
  font-size: calc(0.1em + 1vw);
}

button {
  width: 80%;
  color: white;
  background-color: rgb(147, 148, 226);
  font-size: calc(0.2em + 1vw);
  padding-bottom: 10px;
  padding-top: 5px;
  border-radius: 25px;
}

.concert-div {
  padding-bottom: 10px;
  text-align: center;

}

#performing-artist {
  text-align: left;
  color: white;
  font-size: calc(0.4em + 1vw);
}


#citySelect {
  background: rgb(85, 79, 79);
  color: white;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

#popup {
  text-align: center;
  color: black;
  font-size: 15px;
}

.artist-pic {
  display: inline;
  padding-left: 10px;
  width: 30%;
  height: auto;
}

.artist-pic-div {
  width: 100%;
}

.page-div {
  margin-top: 5%;
  width: 90%;
  position: absolute;
  top: 20px;
  bottom: 20px;
}

.small-api-trans {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px grey;
  width: 22%;
  position: absolute;
  top: 20px;
  bottom: 20px;
  overflow:auto;
}

.second-trans {
  margin-left: 25%;
}

.third-trans{
  width: 50%;
  margin-left: 50%;
  padding-top: 2%;
  padding-left: 2%;
}
a {
  color: #00B7FF;
}

